.IngredientsContainer {
  display: flex;
  padding: 10px;
  margin: 20px;
  box-shadow: 0 4px 7px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.ImageContainer {
  width: 100px;
  height: 100px;
  border-radius: 4px;
}

.IngredientImage {
  max-width: 100%;
  height: auto;
  border-radius: 20px;
}

.NameContainer {
  margin-left: 50px;
}

.IngredientName {
  font-size: large;
  font-weight: bold;
}

.IngredientAmount {
  margin-top: 10px;
  font-size: large;
  font-weight: 500;
}
